@import "../../node_modules/bootstrap/scss/bootstrap.scss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loginSec{
    
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: lighten($color: gray, $amount: 45);
    padding-bottom: 7rem;
}
.UserListSec{
    display: flex; 
    background: lighten($color: gray, $amount: 45);
    min-height: 100vh;
}