@import "../../node_modules/bootstrap/scss/bootstrap.scss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background: lighten($color: gray, $amount: 45) !important;
}

.loginSec{
    
    display: flex;
    align-items: center;
    min-height: 88vh;
   
    padding-bottom: 6rem;
}
.UserListSec{
    display: flex; 
    min-height: 100%;
    padding-bottom: 5rem;
}